[data-prevent-flicker] {
  opacity: 0;
  /* filter: blur(40px); */
  /* transform: translateY(100%); */
}
.wf-design-mode [data-prevent-flicker] {
  opacity: 1;
}

.home_hero_content {
  opacity: 0;
}
.wf-design-mode .home_hero_content {
  opacity: 1;
}

.is-bouncing {
  animation: bounce 1s ease-in infinite alternate;
}

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(1rem); }
}