
/* alternating directions of primary cards */
.primary_card_list .primary_card_wrap:nth-child(even) .primary_card_visual {
		order: -1;
}
/* visual is on top of primary cards on mobile */
@media screen and (max-width: 991px) {
	.primary_card_visual {
		order: -1;
	}
}

/* card mouse over */
.primary_card .button .button_icon {
  transition: color 0.3s ease-in-out;
}
.primary_card:hover .button .button_icon {
  animation: arrow-move 0.6s ease-in-out infinite;
  color: var(--_theme---accent);
}
@keyframes arrow-move {
  0% { transform: translateX(0); }
  50% { transform: translateX(0.25rem); }
  100% { transform: translateX(0); }
}
