
@media screen and (min-width: 992px) {

  .secondary_card_list {
    margin-top: 8rem;
  }
  /* alternating top margin of secondary cards */
  .secondary_card_list .secondary_card_wrap:nth-child(even) {
      margin-top: -25%;
  }
}
.secondary_card_title {
  max-width: 30ch;
}


/* card mouse over */
.secondary_card .button .button_icon {
  transition: color 0.3s ease-in-out;
}
.secondary_card:hover .button .button_icon {
  animation: arrow-move 0.6s ease-in-out infinite;
  color: var(--_theme---accent);
}
@keyframes arrow-move {
  0% { transform: translateX(0); }
  50% { transform: translateX(0.25rem); }
  100% { transform: translateX(0); }
}
