
@media screen and (min-width: 992px) {
  [data-sticky-steps-item-status] .sticky-steps__visual {
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  [data-sticky-steps-item-status="before"] .sticky-steps__visual,
  [data-sticky-steps-item-status="active"] .sticky-steps__visual {
    opacity: 1;
    visibility: visible;
  }

  [data-sticky-steps-item-status] .sticky-steps__text {
    transition: opacity 0.5s ease-in-out;
    opacity: 0.25;
  }

  [data-sticky-steps-item-status="active"] .sticky-steps__text {
    opacity: 1;
  }


  [data-sticky-steps-item-reverse] {
    display: flex;
    flex-direction: row-reverse;
  }
  [data-sticky-steps-item-reverse] .sticky-steps__text {
    padding-right: 0;
    padding-left: 6em;
  }
  [data-sticky-steps-item-reverse] .sticky-steps__media {
    padding-left: 0;
    padding-right: 3em;

    right: auto;
    left: 0;
  }
  
}
